<script>
    function __semio__onload__counter() {
        __semio__helpers_counter('{{ $.Site.Params.graphcommentId | default " - " | safeHTML }}')
    }

    (function() {
        var gc = document.createElement('script');
        gc.type = 'text/javascript';
        gc.async = true;
        gc.onload = __semio__onload__counter;
        gc.defer = true;
        gc.src = 'https://integration.graphcomment.com/helpers_counter.js?' + (new Date().toISOString().slice(0, 10));
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
    })();

</script>
