@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir/Vazir-Regular.eot');
  src: url('../fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/vazir/Vazir-Regular.woff2') format('woff2'),
       url('../fonts/vazir/Vazir-Regular.woff') format('woff'),
       url('../fonts/vazir/Vazir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display:swap;
}

body {
	direction: rtl;
	font-family: Vazir;	
}

.pagination,pre {direction: ltr; background: black}

/*
.app-header{left:auto; right:0}
.app-container{margin-right: auto; margin-right: 20rem}
*/